.research-funding {
    img {
        width: 112px;
        display: inline-block;
    }

    h3 {
        font-size: 1.2rem;
        line-height: 1.667rem;
        margin-top: 1.3125rem;
        margin-bottom: 0rem;
    }
}